<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/images/programacao-da-web.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <title>Portfólio Loriane M Martins</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class = "profile">
            <img src="../static/images/fotoperfileditada.jfif" alt="Foto da Loriane">
            <h1>Loriane M Martins</h1>
            <div class="social-links mt-4 text-center"> 
                <a target="_blank" href="https://www.instagram.com/martins_lori/">
                    <i class="bi bi-instagram"></i>
                </a>
                    
                <a target="_blank" href="https://www.facebook.com/loriane.martins.3/">
                    <i class="bi bi-facebook"></i>
                </a>
                 
                <a target="_blank" href="https://www.linkedin.com/in/loriane-m-4a632011a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5eH0o6GtSdSoo0hNwYX66A%3D%3D">
                    <i class="bi bi-linkedin"></i>
                </a>
                    
                <a target="_blank" href="http://lattes.cnpq.br/8717649061379886">
                    <i class="bi bi-person-circle"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house-fill"></i>
                        Início
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i>
                        Sobre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-stars"></i>
                        Habilidades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-person-lines-fill"></i>
                        Currículo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#biopark"><i class="bi bi-bank2"></i>
                        Biopark
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#contato"><i class="bi bi-envelope-fill"></i>
                        Contato
                    </a>
                </li>
              </ul>
        </nav>


    </aside>
    
    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-shadow">Loriane M Martins</h2>
                <span id="subtitle" class="">Química, Estudante de Programação</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center ">
                    <i class="bi bi-arrow-down-circle-fill text-black pe-2 fs-2"
                        aria-hidden="true"></i>
                    <a href="#sobre">Saiba mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row-w-100">
                <div class="col-md-12" data-anime="down"> 
                    <h2 class="pt-3">Sobre</h2>
                    <p>Eu sou a Loriane: apaixonada por ciência, tecnologia, designer, fotografia, livros, desenvolvimento pessoal e educação.
                        Acredito que essa última é o melhor caminho para mudar vidas, uma vez que tive a oportunidade de me graduar no curso
                        de Química-Bacharelado com Ênfase em Química Farmacêutica Medicinal, pela Unioeste-To(PR), curso esse que foi importantíssimo para 
                        desenvolver minhas habilidades na área ciêntífica, despertar meu olhar para a tecnologia e resultar em diferentes oportunidades. Como amo desafios e aprendizado novo é sempre bem-vindo, decidi 
                        aprender sobre Tecnologia da Informação, uma área que me fascina, pois estamos o tempo todo hiperconectados com sistemas, produtos e
                        serviços que jamais seriam possíveis há décadas atrás sem o advento da internet. Por isso, estou sempre de portas abertas às mudanças
                        e ao conhecimento.   
                    </p>
                </div>
                
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/images/fotoestreit.jpg"
                    alt="Foto da Loriane" data-anime="left">
                </div> 

                <div class="col-md-8 mt-3 mt-md-0" data-anime="up">
                    <h3>Química & Estudante de Programação</h3>
                    <p>Atualmente sou estudante de Programação do Curso Connect, pelo Biopark-Toledo(PR).
                        Dentro dessa área, tenho grande interesse em UX/UI design, desenvolvimento Web e Front-End. 
                    </p>
                    
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">Niver: <span class="fw-lighter">21 de Setembro de 
                                    1998</span>
                                </li>
                                <li class="list-group-item">Idade: <span class="fw-lighter">23 anos</span>
                                </li>
                                <li class="list-group-item">Cidade: <span class="fw-lighter">Toledo</span>
                                </li>
                                <li class="list-group-item">Estado: <span class="fw-lighter">Paraná</span>
                                </li>
                              </ul>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">Graduação: <span class="fw-lighter">Química-Bacharelado</span>
                                </li>
                                <li class="list-group-item">Universidade: <span class="fw-lighter">UNIOESTE-To(PR)</span>
                                </li>
                                <li class="list-group-item">E-mail: <span class="fw-lighter">lorianemartins@hotmail.com</span>
                                </li>
                                <li class="list-group-item">Interesse: <span class="fw-lighter">Web Designer</span>
                                </li>
                              </ul>
                        </div>
                    </div>

                    <p>Além dessas informações, você precisa saber que amo dialogar sobre os mais diversos assuntos. Pra mim, uma boa conversa acompanhada de um café 
                        não tem preço! Por isso, fique à vontade pra me convidar pra um bate-papo. 
                        Mais do que sistemas tecnológicos, é a conexão humana que transforma o mundo! 
                    </p>
                </div>
            </di>

        </section>

        <section id="habilidades" class="mt-5 section-bg"> 
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Ao longo de nossas vidas desenvolvemos diversos tipos de inteligências, 
                    algumas se tornam mais aguçadas e outras nem tanto. Acredito que o mais interessante de tudo isso seja o fato 
                    de que sempre podemos aprender um pouco mais sobre áreas até então desconhecidas.
                    Por isso, deixo aqui a minha porcentagem atual em cada tipo de inteligência e meu perfil comportamental de acordo com os testes dos sites 
                www.idrlabs.com e www.pactorh.com.br. </p> 

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-b mb-0">Linguística</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 83%; background-color: #416df0" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">83%</div>
                        </div>

                        <p class="mt-b mb-0">Lógico-Matemática</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 90%; background-color: #416df0;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-b mb-0">Musical</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 67%; background-color: #416df0;" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">67%</div>
                        </div>

                        <p class="mt-b mb-0">Cinestésica-Corporal</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 63%; background-color: #416df0;" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100">63%</div>
                        </div>

                        <p class="mt-b mb-0">Espacial-Visual</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 73%; background-color: #416df0;" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100">73%</div>
                        </div>

                    </div>
    
                    <div class="col-md-6">
                        <p class="mt-b mb-0">Interpessoal</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 90%; background-color: #416df0;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-b mb-0">Intrapessoal</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 100%; background-color: #416df0;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>

                        <p class="mt-b mb-0">Naturalista</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 57%; background-color: #416df0;" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100">57%</div>
                        </div>

                        <p class="mt-b mb-0">Existencial</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 60%; background-color: #416df0;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        
                        
                    </div>
    
                </div>
                
                <hr class="w-50 me-auto ms-auto mt-5">

                <div class="row">
                        <div class="col-md-6 mt-2 ">
                            <p class="mt-b mb-0">Dominante</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 48%; background-color: #05C7F2" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100">48%</div>
                            </div>

                            <p class="mt-b mb-0">Conformidade</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 32%; background-color: #05C7F2;" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">32%</div>
                            </div>
                        </div>

                         <div class="col-md-6 mt-2">
                            <p class="mt-b mb-0">Estabilidade</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 8%; background-color: #05C7F2" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100">8%</div>
                            </div>

                            <p class="mt-b mb-0">Influência</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime ="left" role="progressbar" style="width: 12%; background-color: #05C7F2;" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100">12%</div>
                            </div>
                        </div>
                </div>
                
            </div>
            
        </section>

        <section id="curriculo" class="mt-5 cv">

            <div class="container pb-5">
                <h2 class="pt-3">Currículo</h2>
                <p>Para mais informações e currículo completo, acessar o meu perfil do linkedIn ou lattes.</p>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime ="up">
                            <h4>Química-Bacharelado</h4>
                            <h5>2015-2020</h5>
                            <p><em>Universidade Estadual do Oeste do Paraná - Campus Toledo</em></p>
                            <p>Graduação em Química-Bacharelado com Ênfase em Química Farmacêutica e Medicinal
                            </p>

                        </div>

                        <div class="cv-item" data-anime ="up">
                            <h4>Estágio na FCF-USP</h4>
                            <h5>2020-2020</h5>
                            <p><em>Faculdade de Ciências Farmacêuticas da USP - São Paulo</em></p>
                            <p>Estagiária no Departamento de Farmácia da Faculdade de Ciências Farmacêuticas da USP,  
                                tendo concluído o projeto “Síntese de Híbridos Moleculares com Potencial Ação sobre Histona Desacetilases e Tirosina Quinases”,
                                no laboratório LAPESSB
                            </p>

                        </div>

                        <div class="cv-item" data-anime ="up">
                            <h4>Preparatório TOEFL ITP(B2)</h4>
                            <h5>2019-2019</h5>
                            <p><em>Universidade Estadual do Oeste do Paraná - Campus Toledo</em></p>
                            <p>Conclusão do curso "Preparatório para o teste TOEFL ITP (B2)" ofertado pelo programa Paraná Fala Inglês - PFI,
                                com carga horária de 60 horas, tendo atingido média de 75 e frequência de 75%, 
                            </p>

                        </div>

                    </div>

                    <div class="col-md-6" data-anime ="up">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime ="up">
                            <h4>III FECITOO - Feira de Ciências de Toledo</h4>
                            <h5>2019-2020</h5>
                            <p><em>Universidade Estadual do Oeste do Paraná - Campus Toledo</em></p>
                            <p>Colaboradora na orientação dos projetos desenvolvidos pelos estudantes 
                                premiados na III FECITOO, carga horária de 192 horas
                            </p>

                        </div>

                        <div class="cv-item" data-anime ="up">
                            <h4>Monitora de Física Geral I </h4>
                            <h5>2018-2018</h5>
                            <p><em>Universidade Estadual do Oeste do Paraná - Campus Toledo</em></p>
                            <p>Desenvolvimento de atividades de monitoria na disciplina de Física Geral I, do curso de Química-Bacharelado, 
                                carga horária total de 80 horas. 
                            </p>

                        </div>

                        <div class="cv-item" data-anime ="up">
                            <h4>Monitora de Cálculo Diferencial e Integral I</h4>
                            <h5>2019-2019</h5>
                            <p><em>Universidade Estadual do Oeste do Paraná - Campus Toledo</em></p>
                            <p>Desenvolvimento de atividades de monitoria na disciplina de Cálculo Diferencial e Integral I, 
                                do curso de Química Licenciatura, com carga horária total de 160 horas.  
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <section id="biopark" class="mt-5 section-bg">
            <div class="container pb-5 pt-5">
                <div class="row-w-100">
                    <div class="col-md-12" data-anime ="up"> 
                        <h2 class="pt-3">Biopark</h2>
                        <p> O Biopark consiste em um ecossistema localizado em uma área de mais de 5 milhões de m² na região de Toledo-PR. Esse ambiente
                            contempla, além do Parque Tecnológico, setores planejados para áreas residenciais, comerciais e industriais. Sendo assim, é uma 
                            grande satisfação poder fazer parte desse lugar como estudante na área de tecnologia, uma vez que toda a estrutura
                            do Biopark é feita para estimular o nosso desenvolvimento como pessoas e profissionais.
                        </p>
                    </div>
                    
                </div>
    
                <div class="row mt-4">
                    <div class="col-md-4" data-anime ="left">
                        <img class="img-fluid shadow" src="../static/images/mkt1_3_283df1a578.jpg"
                        alt="Foto do Biopark">
                    </div> 
    
                    <div class="col-md-8 mt-3 mt-md-0" data-anime ="up">  
                        <h3>Biopark Educação</h3>
                        
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6" >
                                <ul class="list-group list-group-flush fs-6" >
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Capacitação
                                    </li>
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Treinamento
                                    </li>
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Desenvolvimento de Pessoas
                                    </li>
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Consultoria
                                    </li>
                                  </ul>
    
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-6">
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Metodolodia Ativa
                                    </li>
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Estrutura de alto nível
                                    </li>
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Conceito máximo pelo MEC
                                    </li>
                                    <li class="list-group-item section-bg" ><i class="bi bi-star-fill"></i>Empregabilidade de 94%
                                    </li>
                                  </ul>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="row-w-100">
                    <div class="col-md-12" data-anime ="up"> 
                        <h3 class="pt-5">Disciplinas do Connect</h3>
                        <p class="pb-4">O Biopark Connect é um curso que visa a formação de programadores “full-stack”, ou seja, 
                    que possam atuar em qualquer etapa do desenvolvimento de sistemas. Entre os conteúdos trabalhados 
                    no curso estão linguagens de programação como HTML5, CSS, JavaScript, Java, Python, entre outras, 
                    além de banco de dados, desenvolvimento para dispositivos móveis, computação em nuvem e metodologias ágeis.</p>
                    </div>
                </div>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel" data-anime ="left" >
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="/static/images/kelly-sikkema-v9FQR4tbIq8-unsplash.jpg" class="card-img-top" alt="Engenharia de Software" >
                                <div class="card-body">
                                  <h5 class="card-title">Engenharia de Software</h5>
                                  <p class="card-text">Nessa disciplina, apredemos sobre diversos conceitos que 
                                      envolvem o desenvolvimento de um projeto, os requisitos e as ferramentas necessárias 
                                    para a construção de um software.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src= "/static/images/david-travis-WC6MJ0kRzGw-unsplash.jpg" class="card-img-top" alt="Metodologias Ageis">
                                <div class="card-body">
                                  <h5 class="card-title">Métodologias Ágeis</h5>
                                  <p class="card-text">A partir das metodologias ageis, conseguimos aprender
                                      sobre diferentes formas de gerir projetos e trabalhar em equipe com divisão de tarefas, foco e produtividade.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg"  class="card-img-top" alt="Soft Skills"> 
                                <div class="card-body">
                                  <h5 class="card-title">Soft Skills</h5>
                                  <p class="card-text">Por meio das Soft Skills aprendemos sobre o nosso lado comportamental, de 
                                      modo a investir tempo no autoconhecimento e nas relações interpessoais dentro da equipe.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="/static/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg" class="card-img-top" alt="Algoritmos" >
                                <div class="card-body">
                                  <h5 class="card-title">Algoritmos</h5>
                                  <p class="card-text">Nessa disciplina, apredemos sobre lógica de programação, arrays, matrizes, introdução
                                      à linguagem Java e diferentes tipos de IDEs. Sendo essa uma das bases do curso Connect.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/images/kevin-bhagat-zNRITe8NPqY-unsplash.jpg" class="card-img-top" alt="Desenvolvimento Web">
                                <div class="card-body">
                                  <h5 class="card-title">Desenvolvimento Web</h5>
                                  <p class="card-text">Com certeza, a minha preferida! Estamos aprendendo sobre o desenvolvimento de sites
                                        a partir do uso de ferramentas como o bootstrap, HTML, CSS e JavaScript no VisualCode.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/images/daniel-lezuch-I4DcRJ_Evd8-unsplash.jpg" class="card-img-top" alt="Estrutura de Dados">
                                <div class="card-body">
                                  <h5 class="card-title">Estrutura de Dados</h5>
                                  <p class="card-text">Nessa disciplina, aprendemos sobre a linguagem C, suas funções, ordenação, 
                                     arquivos de texto, arquivos binários, arquivos.c, arquivos.h, além de listas, pilhas e árvores .</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="/static/images/stephen-phillips-hostreviews-co-uk-2kH-6T6x_0I-unsplash.jpg" class="card-img-top" alt="Banco de Dados" >
                                <div class="card-body">
                                  <h5 class="card-title">Banco de Dados</h5>
                                  <p class="card-text">Nessa disciplina, estamos aprendendo sobre o armazenamento de dados utilizando o WorkBench-SQL,
                                      além das relações que esses dados devem possuir de acordo com as regras de negócio.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>

                  </div>

            </div>

        </section>

        <section id="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5" data-anime ="up">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>Toledo, PR</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>E-mail:</h4>
                                <p>lorianemartins@hotmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36
                            24.00817207144!2d-53.752885385186445!3d-24.72659971153484!2m3!1f0!2f0!3f0!3m2!
                            1i1024!2i768!4f13.1!3m3!1m2!1s0x94f3959104816bef%3A0x3fde2b7b2d767303!2sR.%20Gen.
                            %20Alc%C3%ADdes%20Etchegoyen%20-%20Toledo%2C%20PR!5e0!3m2!1spt-BR!2sbr!4v1636312890830!5m2!
                            1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100"></iframe>

                        </div>

                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime ="left">
                            <form class="row g-3"  action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">E-mail:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" id="button-envio" class="btn btn-primary">Enviar</button>

                                   <button id="button-envio-download"class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                               
                              </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alertaevio" class="alert alert-sucess alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong> Loriane M Martins</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>